# VSCode related files
.vscode/

# Eclipse related files
.settings

# Java class files
*.class
bin/

# C program executable files
a.out

# C program object files
*.o

# C program library files
*.lib

# Python cache files
__pycache__/